@charset "utf-8";
/* CSS Document */

/* 
	yellow - D0904C
	blue - 1F3853
*/

html {
	background-color: #1F3853;
	background-image: url("/images/background.png");
	height: 100%;
}
/* FONT FACE */
@font-face {
    font-family: 'kingsbridgeregular';
    src: url('/fonts/kingsbridge-webfont.eot');
    src: url('/fonts/kingsbridge-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/kingsbridge-webfont.ttf') format('truetype'),
         url('/fonts/kingsbridge-webfont.svg#kingsbridgeregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
body {
    height: 100%;
    margin: 0;
    padding: 0;
	font-family: 'kingsbridgeregular' !important;
	font-size: 22px;
}

#wrapper {
    min-height: 100%;
    max-width: 1400px;
	margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}

#inner-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0 50px;
}

/* HEADER */
#header {
    color:#D0904C;
    font-size:32px;
    border-bottom: 2px solid #D0904C;
    padding: 5px 10px;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

#headerLogoDiv {
    padding-right: 20px;
}

    #header img {
        vertical-align: bottom;
        height: 90px;
        width: 90px;
    }

#headerLeftDiv, #headerRightDiv {
    display: flex;
}

#headerRightDiv {
    flex: 1;	
}

    #headerLeftText {
        display: flex;
        flex-direction: column;
    }
    
        #headerTitle {
            font-size: 42px;
            font-weight: bold;
        }
        
        #headerDate {
            margin-top: auto;
        }
    
    #headerRightText {
        margin-left: auto;
        display: flex;
        flex-direction: column;
    }
    
        #headerUsername {
            text-align: right;
            font-weight: bold;
            /*cursor: pointer;*/
        }
        
        #headerLog {
            text-align: right;
            margin-top: auto;
            cursor: pointer;
        }

/* MAIN */
#main {
    background-color: #E8E7E6;
    display: flex;
    flex: 1;
    flex-direction: column;
	margin-left: auto;
    margin-right: auto;
    margin: 10px 0;
    box-sizing: border-box;
	box-shadow: 0px 0px 10px 5px rgb(20,45,70);
	min-height: min-content;
}

.section {
    display: flex;
	flex-direction: column;
	flex: 1;
	padding: 20px;
    font-size:22px;
	border: 1px solid #1F3853;
	box-sizing: border-box;
	min-height: min-content;
}

.mainHeader {
    font-weight: bold;
    font-size: 28px;
    color: #1F3853;
}

.mainHeaderDiv {
    margin-bottom: 15px;
    line-height: 24px;
}

.content {
    flex: 1;
    min-height: min-content;
}

/* FOOTER */
#footer {
    display: flex;
    color: #D0904C;
    border-top: 2px solid #D0904C;
    font-size: 16px;
    padding-bottom: 20px;
    padding-top: 5px;
}

#footerLeft, #footerRight {
    display: flex;
}

#footerRight {
    margin-left: auto;
}

#footerRight a {
    padding: 0 5px;
    font-weight: bold;
}

/* LINKS */
a {
    text-decoration: none;
    color: #D0904C;
    color: #1F3853;
}

    a:hover {
        color: #1F3853;
        color: #D0904C;
    }
    
#headerUsername a, #headerLog, #footer a {
    color: #D0904C;
}

#headerUsername a:hover, #headerLog:hover, #footer a:hover {
    text-decoration: underline;
}
    
input, select {
    font-size: 22px;
    font-family: 'kingsbridgeregular';
}

/* DIALOG */
.flexForm {
    display: table;
}

.flexFormField {
    display: table-row;
}

.flexFormCell {
    display: table-cell;
    padding: 5px 10px;
    vertical-align: top;
}

    .flexFormCell textarea {
        font-family: 'kingsbridgeregular';
        font-size: 22px;
        resize: none;
    }

.flexFormCellRight {
    text-align: right;
}

.flexForm input, .fakeCheck {
    font-size: 22px;
}

.fakeCheck {
    cursor: pointer;
}

#loginDialogDiv {
    display: flex;
    flex: 1;
    flex-direction: column;
}

#loginDialogMessage {
    padding: 5px 0px;
}

#loginDialogBottom {
    padding-top: 35px;
    display: flex;
    flex: 1;
}

#loginDialogSignUp {
    text-align: right;
    flex: 1;
}

#dataRequesterDialogMessage {
    max-height: 500px;
    overflow-y: auto;
}

/* JQUERY-VALIDATION */

.error {
    color: #8b0000;
    border-color: red;
}

/* FA ICONS */

    /* green */       
    .fa-check-circle {
        color: #008000;
    }

    /* yellow */ 
    .fa-minus-circle, .fa-clock-o, .fa-exclamation-circle {
        color: #D0904C;
    }

    /* red*/ 
    .fa-exclamation-triangle, .fa-times-circle {
        color: #8b0000;
    }

    /* blue */
    .fa-info-circle {
        color: #1F3853;
    }

/* JQUERYUI */
.ui-dialog-titlebar {
    background: #1F3853;
    color: #D0904C;
}

.ui-dialog-buttonpane, .ui-dialog {
    background: #E8E7E6;
}

.ui-button {
    font-family: 'kingsbridgeregular';
    font-size: 16px;
}

.ui-dialog .ui-dialog-buttonpane button {
    font-size: 18px;
    font-family: 'kingsbridgeregular';
}

.ui-widget, .ui-widget input{
    font-family: 'kingsbridgeregular';
}

.ui-widget-content a {
    color: #1F3853;
    /*color: #D0904C;*/
}

.ui-widget-content a:hover {
    color: #D0904C;
    /*color: #1F3853;*/
}
