{% extends "base.twig" %}

{% block title %}Contact{% endblock %}
{% block head %}
    <!--link rel="stylesheet" type="text/css" href="/pages/account/account.css"-->
    <!--script src="/pages/account/profile.js"></script-->
{% endblock %}

{% block content %}
    <div id="contactDiv" class="section">
        <div class="mainHeaderDiv">
            <span class="mainHeader">Contact</span>
        </div>
        <div class="content">
            Please email us at <a href="mailto:Contact@gatriex.com">Contact@gatriex.com</a>
        </div>
    </div>
{% endblock %}

{% block dialog %}
{% endblock %}
