{% extends "base.twig" %}

{% block title %}Initiative Tracker{% endblock %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="/pages/tabletop/initiativetracker/initiativetracker.css">
    <script src="/pages/tabletop/initiativetracker/initiativetracker.js"></script>
{% endblock %}

{% block content %}
    <div id="edit" class="section">
        <div class="mainHeaderDiv">
			{% if CampaignName is empty %}
                <span class="mainHeader"><i class="fas fa-fw fa-sort"></i>Initiative Tracker</span>
            {% else %}
                <span class="mainHeader"><i class="fas fa-fw fa-sort"></i>Initiative Tracker - {{ CampaignName }}</span>
            {% endif %}
        </div>
        <div class="content">
	        <form id="form" style="margin-bottom:0;">
	            <div id="listDiv">
		            <ul id="initList"></ul> 
			    </div>
		    </form>
	    </div>
	    <div class="formButtons">
            <div id="dialogMessage"></div>
            <button type="button" class="ui-button ui-button-fa hide" id="editButton">Edit</button>
            <button type="button" class="ui-button ui-button-fa addCategoryButton hide"><i class="fas fa-fw fa-plus-circle"></i></button>
            <button type="button" class="ui-button ui-button-fa hide" id="sortButton">Sort</button>
	    </div>
	</div>
{% endblock %}

{% block dialog %}
{% endblock %}