.content {
    border-top: 1px solid #1F3853;
    border-bottom: 1px solid #1F3853;
    padding: 20px 0;
}

.mainHeaderDiv {
    display: flex;
}

.mainHeader {
    flex: 1;
}

#buttonDiv {
    font-size: 32px;
    display: flex;
    justify-content: space-between;
    margin: 0 50px 20px 50px;
}

#initList, #addList, #campaignList {
    list-style-type: none;
    margin: 0;
    padding: 0 50px;
    font-size: 22px;
}
    
    #initList input, #addList input {
        font-size: 36px;
        color: #1F3853;
        border: solid 1.5px;
        background: none;
    }

    .characterInit {
        width: 2em;
    }

#initList, #campaignList {
    user-select: none;
}

#initList li, #campaignList li {
    margin: 10px 0;
}

#campaignList li .campaignDiv {
    color: #1F3853;
}

#campaignList li:hover .campaignDiv {
    color: #D0904C;
}

.campaignDiv, .characterDiv {
    font-size: 36px;
    padding: 10px;
    background: #EEE;
    color: #1F3853;
    display: flex;
}

.campaignDiv {
    font-size: 24px;
}

.characterSpan {
    flex: 2;
}

.characterInitSpan {
    flex: 1;
}

.characterButtonSpan {
    font-size: 28px;
}

#addCharacterButtons {
    text-align: right;
}

#addCharacterSelect {
    color: #1F3853;
    background: #EEE;
}

#addCharacterSelect option {
    color: #1F3853;
}

.initSelected .characterDiv {
    border: 5px solid #D0904C;
    padding: 5px;
}

.greenButton {
    color: #008000;
}

.redButton {
    color: #8b0000;
}

.blueButton {
    color: #1F3853;
}

.faction-Add {
    color: #008000;
}

.faction-Player {
    color: #3383bb;
}

.faction-Enemy {
    color: #8b0000;
}

.faction-NPC {
    color: #D0904C;
}