{% extends "base.twig" %}

{% block title %}Test{% endblock %}
{% block head %}
    <!--link rel="stylesheet" type="text/css" href="/pages/home/home.css"-->
    
	<script src="/autobahn-js-browser-master/autobahn.min.js"></script>
    <script src="/pages/test/test.js"></script>
{% endblock %}

{% block content %}
    <div id="test" class="section">
        <div class="mainHeaderDiv">
            <span class="mainHeader">Test</span>
        </div>
        <div class="content">
            <span id="response"></span>
        </div>
    </div>
{% endblock %}

{% block dialog %}
{% endblock %}