{% extends "base.twig" %}

{% block title %}Error {{ ErrorCode }}{% endblock %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="/pages/error/error.css">
{% endblock %}

{% block content %}
    <div id="errorDiv" class="section top">
            <div class="centerSection">
            <div class="mainHeaderDiv">
                <span class="mainHeader">Error - Unauthorized</span>
            </div>
            <div class="content">
                {% if Username is empty %}
                    You must be logged in to view this page.
                {% else %}
                    You are not authorized to view this page.
                {% endif %}
            </div>
        </div>
    </div>
    <div id="errorDiv" class="section bottom"></div>
{% endblock %}

{% block dialog %}
{% endblock %}