@charset "utf-8";
/* CSS Document */

/* 
	yellow - D0904C
	blue - 1F3853
*/

.centerSection {
    margin-left: auto;
    margin-right: auto;
}

#createForm {
    margin: auto;
}

.recoverRight {
    text-align: right;
}

.profileEdit {
    color: #1F3853;
    cursor: pointer;
}

.profileEdit:hover {
    color: #D0904C;
}

.profileSpan {
    color: #1F3853;
}