@charset "utf-8";
/* CSS Document */

/* 
	yellow - D0904C
	blue - 1F3853
*/

.centerSection {
    margin-left: auto;
    margin-right: auto;
}

#createForm {
    margin: auto;
}

.recoverRight {
    text-align: right;
}