{% extends "base.twig" %}

{% block title %}My Campaigns{% endblock %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="/pages/tabletop/mycampaigns/mycampaigns.css">
    <script src="/pages/tabletop/mycampaigns/mycampaigns.js"></script>
{% endblock %}

{% block content %}
    <div id="edit" class="section">
        <div class="mainHeaderDiv">
            <span class="mainHeader"><i class="fas fa-fw fa-book"></i> My Campaigns</span>
        </div>
        <div class="content">
	        <form id="form" style="margin-bottom:0;">
	            <div id="listDiv">
					<ul id="addList">
						<li id="addCampaign" class="ui-state-default campaign">
                            <div>
                                Add Campaign: <input type="text" name="addCampaignName" id="addCampaignName" placeholder="Campaign Name" />
                                <button type="button" class="ui-button ui-button-fa addCampaignButton"><span class="greenButton"><i class="far fa-fw fa-plus-circle"></i> Add</span></button>
		                    </div>
	                    </li>
					</ul>
		            <ul id="campaignList">
					</ul> 
			    </div>
		    </form>
	    </div>
	    <div class="formButtons">
            <div id="dialogMessage"></div>
	    </div>
	</div>
{% endblock %}

{% block dialog %}
{% endblock %}