{% extends "base.twig" %}

{% block title %}Edit{% endblock %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="/pages/edit/edit.css">
    <script src="/pages/edit/edit.js"></script>
{% endblock %}

{% block content %}
    <div id="edit" class="section">
        <div class="mainHeaderDiv">
            <span class="mainHeader">Edit Bookmarks</span>
            <span style="float:right">
                <button id="expandAll" class="ui-button ui-button-fa"><i class="fas fa-fw fa-expand-alt"></i> Expand All</button>
                <button id="collapseAll" class="ui-button ui-button-fa"><i class="fas fa-fw fa-compress-alt"></i> Collapse All</button>
            </span>
        </div>
        <div class="content">
	        <form id="form" style="margin-bottom:0;">
	            <div id="listDiv">
		            <ul id="editList"></ul> 
		            <br />
	                <ul id="addList">
                        <li id="category_add" class="ui-state-default category">
                            <div>
                                Add Category: <input type="text" name="addCategory" id="addCategoryText" placeholder="Category" />
                                <button type="button" class="ui-button ui-button-fa addCategoryButton"><i class="fas fa-fw fa-plus"></i></button>
		                    </div>
	                    </li>
			       </ul>
			    </div>
		    </form>
	    </div>
	    <div class="formButtons">
            <div id="dialogMessage"></div>
	        <button id="revertForm" class="ui-button ui-button-fa"><i class="fas fa-fw fa-undo-alt"></i> Revert Changes</button>
	        <button id="submitForm" class="ui-button ui-button-fa"><i class="far fa-fw fa-save"></i> Save Changes</button>
	    </div>
	</div>
{% endblock %}

{% block dialog %}
{% endblock %}