<!DOCTYPE html>

<html>
<head>
    <title>{% block title %}{% endblock %} - Gatriex</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="/images/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/css/gatriex.css">
    <link rel="stylesheet" href="/jquery-ui-1.12.1.custom/jquery-ui.min.css" />
    <link rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.min.css" />
    <script src="/jquery-ui-1.12.1.custom/jquery.js"></script>
    <script src="/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
    <script src="/js/account.js"></script>
    <script src="/js/date.js"></script>
    {% block head %}{% endblock %}
</head>

<body>
    <div id="wrapper">
        <div id="header">
            <div id="headerLogoDiv">
                <a href="/"><img src="/images/Logo.png" /></a>
            </div>
            <div id="headerLeftDiv">
                
                <div id="headerLeftText">
                    <div id="headerTitle">Gatriex</div>
                    <div id="headerDate"></div>
                </div>
            </div>
            <div id="headerRightDiv">
                <span id="headerRightText">
                    <div id="headerUsername">{{ Username }}</div>
                    {% if Username is empty %}
                        <div id="headerLog" data-log="login">Login</div>
                    {% else %}
                        <div id="headerLog" data-log="logout">Logout</div>
                    {% endif %}
                </span>
            </div>
        </div>
        
        <div id="main">
            {% block content %}{% endblock %}
        </div>
        
        <div id="footer">
            Gatriex.com isn't endorsed by Riot Games and doesn't reflect the views or opinions of Riot Games or anyone officially involved in producing or managing League of Legends.
            <br /> 
            League of Legends and Riot Games are trademarks or registered trademarks of Riot Games, Inc. League of Legends © Riot Games, Inc.
        </div>
    </div>
    
    <div id="loginDialogBox" title="Login">
	    <form id="loginForm">
            Username: <input type="text" name="username" id="loginUsername" /><br>
            Password: <input type="password" name="password" id="loginPassword" /><br>
        </form>
		<p id="loginDialogMessage"></p>
	</div>
	<div id="logoutDialogBox" title="Logout">
		<p id="logoutDialogMessage">
		    Are you sure you want to logout?
		</p>
	</div>
	{% block dialog %}{% endblock %}
</body>
</html>