<!DOCTYPE html>

{% import "macros/flexForm.html" as flexForm %}

<html>
<head>
    <title>{% block title %}{% endblock %} - Gatriex</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="/jquery-ui-1.12.1.custom/jquery-ui.min.css" />
    <link rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/gatriex.css">
    <script src="/jquery-ui-1.12.1.custom/jquery.js"></script>
    <script src="/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
    <script src="/js/dialog.js"></script>
    <script src="/js/checkbox.js"></script>
    <script src="/js/account.js"></script>
    <script src="/js/date.js"></script>
    {% block head %}{% endblock %}
</head>

<body>
    <div id="wrapper">
        <div id="header">
            <div id="headerLogoDiv">
                <a href="/"><img src="/images/Logo.png" /></a>
            </div>
            <div id="headerLeftDiv">
                
                <div id="headerLeftText">
                    <div id="headerTitle">Gatriex</div>
                    <div id="headerDate"></div>
                </div>
            </div>
            <div id="headerRightDiv">
                <span id="headerRightText">
                    <div id="headerUsername">{{ Username }}</div>
                    {% if Username is empty %}
                        <div id="headerLog" data-log="login">Login</div>
                    {% else %}
                        <div id="headerLog" data-log="logout">Logout</div>
                    {% endif %}
                </span>
            </div>
        </div>
        
        <div id="main">
            {% block content %}{% endblock %}
        </div>
        
        <div id="footer">
            Gatriex.com isn't endorsed by Riot Games and doesn't reflect the views or opinions of Riot Games or anyone officially involved in producing or managing League of Legends.
            <br /> 
            League of Legends and Riot Games are trademarks or registered trademarks of Riot Games, Inc. League of Legends © Riot Games, Inc.
        </div>
    </div>
    
    <div id="loginDialogBox" title="Login">
        <div id="loginDialogDiv">
            <div id="loginDialogTop">
                <form id="loginForm" class="flexForm">
                        {{ flexForm.input('Username', 'loginUsername', 'text') }}
                        {{ flexForm.input('Password', 'loginPassword', 'password') }}
                        {{ flexForm.inputCheckbox('Remember Me', 'loginRemember') }}
                </form>
                <div id="loginDialogMessage"></div>
            </div>
            <div id="loginDialogBottom">
                <div id="loginDialogForgot">
                    <a href="/account/recover.php">
                        <i class="fa fa-question-circle-o"></i> Recover Account
                    </a>
                </div>
                <div id="loginDialogSignUp">
                    <a href="/account/register.php">
                        <i class="fa fa-address-book-o"></i> Register
                    </a>
                </div>
            </div>
        </div>
	</div>
	<div id="logoutDialogBox" title="Logout">
		<div id="logoutDialogMessage">
		    Are you sure you want to logout?
		</div>
	</div>
	{% block dialog %}{% endblock %}
</body>
</html>