{% extends "base.twig" %}

{% block title %}Home{% endblock %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="/pages/home/home.css">
    <script src="/pages/home/home.js"></script>
{% endblock %}

{% block content %}
    <div id="nav" class="section">
        <div class="mainHeaderDiv">
            <span class="mainHeader">Bookmarks</span>
            {% if Username is not empty %}
            <a href="/edit" class="iconRight">
                <i class="fas fa-pencil-alt"></i>
            </a>
            {% endif %}
        </div>
        <div class="content">
            <dl id="navList"></dl>
        </div>
    </div>

    <div id="content" >
        <div id="SummonerStats" class="section">
            <div class="mainHeaderDiv">
                <span class="mainHeader">Summoner Stats</span>
                <i id="refreshSummoner" class="fas fa-sync-alt iconRight"></i>
                <span id="SummonerError" class="errorIcon iconRight"></span>
            </div>
            <div class="content">
                <div>
                    <div>
                        <form id="searchForm">
                            <input type="text" name="searchSummonerName" placeholder="Summoner Name" id="searchSummonerName" />
                            <button id="searchButton" class="ui-button ui-button-fa"><i class="fas fa-search"></i> Search</button>
                        </form>
                    </div>
                    <div id="summonerFlexContainer">
                        <div class="summonerFlex">
                            <img id="SummonerIcon" src="/images/Logo.png">
                        </div>
                        <div class="summonerFlex" id="summonerFlexDiv">
                            <div class="summonerInnerFlex">
                                <div id="SummonerLevel"></div>
                            </div>
                            <div class="summonerInnerFlex">
                                <div id="SummonerName"></div>
                                <div id="League"></div>
                                <div id="MiniSeries"></div>
                            </div>
                        </div>
                        <div class="summonerFlex">
                            <img id="champ0" class="champ">
                            <img id="champ1" class="champ">
                            <img id="champ2" class="champ">
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                </div>
            </div>
        </div>                        
        <div id="ServerStatus" class="section">
            <div class="mainHeaderDiv">
                <span class="mainHeader"> 
                    <div id="nameRegion">North America</div>
                    <select id="selectRegion" style="display:none">
                        {% for name, key in RegionList %}
                            <option {% if name == Region %} selected {% endif %} value="{{ key }}">{{ name }}</option>
                        {% endfor %}
                    </select>
                    <i id="editRegion" class="fas fa-exchange-alt"></i>
                    <i id="cancelRegion" class="fas fa-times" style="display: none;"></i>
                </span>
                <i id="refreshStatus" class="fas fa-sync-alt iconRight"></i>
                <span id="StatusError" class="errorIcon iconRight"></span>
            </div>
            <div class="content">
                <div id="Incidents"></div>
            </div>
        </div>
    </div>
    
    <div style="clear: both;"></div>
{% endblock %}

{% block dialog %}
    <div id="dialogBox" title="Error Fetching Data">
        <div id="dialogMessage"></div>
    </div>
{% endblock %}