#main {
    flex-direction: row;
}

#content {
    display: flex;
    flex-direction: column;
	flex: 2;
    overflow: auto;
}

.content {
	padding-left: 25px;
}

.iconRight {
    color: #1F3853;
    float: right;
}

    .iconRight:hover {
        color: #D0904C;
        cursor: pointer;
    }
    
.errorIcon {
    padding-right: 15px;
    color: #8b0000;
}

#SummonerName {
    font-size: 26px;
    font-weight: bold;
    color: #1F3853;
}

#SummonerStats {
    flex: 1;
    font-size: 24px;
    max-height: max-content;
}

#ServerStatus {
    flex: 2;
}

.navButton {
    font-size: 24px;
    color: #000000;
    user-select: none;
}

.navButton:not(:first-child) {
    margin-top: 15px;
}

.navButton:hover {
    color: #D0904C;
    cursor: pointer;
}

.item {
    padding-top: 10px;
}

#navList {
    margin: 0px;
}

#searchSummonerName {
    font-size: 20px;
}

#searchButton {
    font-size: 14px;
}

#SummonerIcon {
	width: 150px;
	height: 150px;	
}

#services {
    list-style-type:none;
	margin: 0;
	padding: 0;
}

    #services li:not(:first-child) {
        margin-top: 15px;
    }
    
.service {
    color: #1F3853;
    font-weight: bold;
}
    
#Incidents {
    padding-left: 25px;
    overflow-wrap: break-word;
}

.incidents {
    font-size: 20px;
}

.incidents li {
    margin-top: 15px;
}

.timestamp {
    font-size: 16px;
    padding-top: 5px;
}

#nameRegion{
    display:inline; 
    text-transform:capitalize;
}

#editRegion, #cancelRegion {
    font-size: 22px;
}

#editRegion:hover, #cancelRegion:hover {
    color: #D0904C;
    cursor: pointer;
}